# Temporary code generation
IOPCB.cydsn/codegentemp/

# Cypress Artifacts
**/CortexM3/
**/Backup/
**/codegentemp/
**/CortexM0/
**/Export/
**/Generated_Source/
*.cycdx
*.cyfit
*.cywrk.*
*.cyprj.*
*.svd
*.uvopt
*.html
*.rpt
*.txt
*.log
*.pdf