# Temporary code generation
IOPCB.cydsn/codegentemp/
Bootloader Host/.vs/
Bootloader Host/bin/
Bootloader Host/obj/

# Cypress Artifacts
**/CortexM3/
**/Backup/
**/codegentemp/
**/CortexM0/
**/Export/
**/Generated_Source/
*.cycdx
*.cyfit
*.cywrk.*
*.cyprj.*
*.svd
*.uvopt
*.html
*.rpt
*.txt
*.log
*.cydsn/*.pdf

# Office temporary files
~*.*